/* Global Styles & Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #2563eb;
  --secondary-color: #0f172a;
  --background-color: #f1f5f9;
  --accent-color: #f59e0b;
  --success-color: #10b981;

  --text-main: #020617;
  --text-secondary: #64748b;
  --white: #ffffff;

  --primary-font: "Inter", sans-serif;
  --heading-font: "Poppins", sans-serif;
}

/* Home */

/* Body */
body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--text-main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NavBar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: var(--secondary-color);
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
}

nav .nav-links li a {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 12px 18px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  font-family: var(--heading-font);
  font-weight: 600;
  transition: 0.3s;
}
nav .nav-links li a:hover {
  background-color: var(--accent-color);
  transform: translateY(-5px);
}

.logo {
  font-family: var(--heading-font);
  width: fit-content;
  height: fit-content;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 12px;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .logo h2 {
    margin: 0;
  }
}

/* Hero */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  max-width: 60%;
  margin: 40px auto;
  padding: 24px;
  flex: 1 1;

  .hero-content {
    max-width: 50%;
  }
  .hero-media img {
    max-width: 100%;
    border-radius: 12px;
  }
  h1 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--text-main);
  }
  p {
    font-size: 18px;
    color: var(--text-secondary);
    margin-bottom: 24px;
  }
  .btn {
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 600;
    transition: 0.3s;
  }
  .btn:hover {
    background-color: var(--accent-color);
    transform: translateY(-5px);
  }
}

/* Why Choose Us */
.whyChooseUs {
  max-width: 1100px;
  margin: 60px auto;
  padding: 20px;
}

.whyChooseUs h2 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--text-main);
}

.whyChooseUs .cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}

.whyChooseUs .card {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  text-align: center;
  width: 400px;
  height: 400px;
  transition: 0.3s;
  overflow: hidden;
}

.whyChooseUs .card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.whyChooseUs .card h3 {
  font-family: var(--heading-font);
  font-size: 22px;
  margin-bottom: 10px;
  color: var(--text-main);
  padding: 10px;
}

.whyChooseUs .card p {
  font-size: 16px;
  color: var(--text-secondary);
  padding: 10px;
}

.whyChooseUs .card:hover {
  transform: translateY(-5px);
}

/* Popular Classes */
.popularClasses {
  max-width: 1100px;
  margin: 60px auto;
  padding: 20px;

  h2 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--text-main);
  }
  .cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
  }
  .card {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    text-align: center;
    width: 400px;
    height: 350px;

    img {
      width: 350px;
      height: 220px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding: 0 auto;
      margin: 0 auto;
    }

    h3 {
      font-family: var(--heading-font);
      font-size: 22px;
      margin-bottom: 10px;
      color: var(--text-main);
      padding: 10px;
    }

    p {
      font-size: 16px;
      color: var(--text-secondary);
      padding: 10px;
    }
  }

  .btn {
    display: inline-block;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    font-family: var(--primary-font);
    transition: 0.3s;
  }
  .btn:hover {
    background-color: var(--accent-color);
    transform: translateY(-5px);
  }
}

/* Our Team */
.ourTeam {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;

  h2 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--text-main);
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
    margin-top: 30px;
  }
  .card {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 30px 25px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    transition: 0.3s;

    h3 {
      font-family: var(--heading-font);
      font-size: 22px;
      color: var(--text-main);
      padding: 15px 0px;
      margin-bottom: 15px;
    }

    .job {
      font-size: 17px;
      color: var(--accent-color);
      margin-bottom: 25px;
    }
    .details {
      font-size: 14px;
      color: var(--text-secondary);
      font-weight: 350;
    }
  }
  .card:hover {
    transform: translateY(-5px);
  }
}

/* Login */
.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.log-card {
  background-color: var(--white);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.log-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 5px;
}
.log-tabs a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  transition: 0.3s;
}
.log-tabs a:hover {
  font-weight: bold;
}
.log-card h2 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-main);
}

.log-card label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--text-main);
}
.log-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.log-card button {
  display: block;
  width: 70%;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--white);
  margin: 10px auto 0;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.log-card button:hover {
  background-color: var(--accent-color);
  transform: translateY(-5px);
}
.log-card p {
  text-align: center;
  margin-top: 20px;
  color: var(--text-secondary);
  span {
    color: #18a7b9;
  }
}

/* Classes */
.Courses,
.Memberships {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;

  h2 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--text-main);
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
    margin-top: 30px;
  }
  .card {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 30px 25px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    transition: 0.3s;

    .card-content {
      height: 200px;
    }

    h3 {
      font-family: var(--heading-font);
      font-size: 22px;
      color: var(--text-main);
      padding: 15px 0px;
      margin-bottom: 15px;
    }

    .details {
      font-size: 17px;
      color: var(--accent-color);
      margin-bottom: 25px;
    }
    .prices {
      font-size: 14px;
      color: var(--text-secondary);
      font-weight: 350;
    }
    .btn-enroll {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 8px;
      background-color: var(--primary-color);
      color: var(--white);
      text-decoration: none;
      font-family: var(--primary-font);
      transition: 0.3s;
      border: none;
      cursor: pointer;
      margin-top: 15px;
      position: relative;
      bottom: 10px;
    }
    .btn-enroll:hover {
      background-color: var(--accent-color);
      transform: translateY(-5px);
    }
  }
}

/* Profile Page */
.profile-header {
  text-align: center;
  margin-top: 30px;
  font-family: var(--heading-font);
  font-size: 36px;
  color: var(--text-main);
}
.profile-container {
  margin: 40px auto;
  background-color: var(--white);
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 1000px;
}
.profile-info {
  display: flex;
  align-items: center;
  gap: 30px;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    border: 1.5px solid black;
  }
  .details {
    display: inline-block;
  }
  p {
    font-size: 18px;
    color: var(--text-secondary);
    margin: 10px;
  }
  span {
    color: var(--success-color);
  }
}
.course-membership {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  h2 {
    font-family: var(--heading-font);
    font-size: 28px;
    color: var(--text-main);
    margin: 20px 0px;
  }
  .enrolled-memberships,
  .enrolled-courses {
    background-color: rgba(249, 249, 249, 0.786);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px 50px 50px 50px;
    margin: 10px;
    border-radius: 12px;
  }
  .enroll-card {
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    h3 {
      font-family: var(--heading-font);
      font-size: 22px;
      color: var(--text-main);
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      color: var(--text-secondary);
      margin-bottom: 10px;
    }
    .prices {
      font-size: 14px;
      color: var(--accent-color);
      font-weight: 600;
    }
    .cancel-btn {
      margin-top: 15px;
      padding: 10px 20px;
      border-radius: 8px;
      background-color: #dc3545;
      color: var(--white);
      border: none;
      cursor: pointer;
      transition: 0.3s;
    }
    a {
      text-decoration: none;
      color: var(--white);
    }
    .cancel-btn:hover {
      background-color: #b02a37;
      transform: translateY(-3px);
    }
  }
}

/* Footer */
footer {
  background-color: var(--secondary-color);
  color: var(--white);
  text-align: center;
  padding: 25px;
  margin-top: auto;
}
.footer-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 10px;
  i {
    transition: 0.3s;
  }
  i:hover {
    transform: translateY(-2px);
  }
}
footer h2 {
  font-family: var(--heading-font);
  margin-bottom: 10px;
}
footer p {
  margin-top: 15px;
  font-size: 16px;
  span {
    color: var(--accent-color);
  }
}
/* Admin Team */
.AdminContainer {
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}
.Btns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.AddBtn {
  padding: 15px;
  border-radius: 8px;
  background-color: var(--success-color);
  color: var(--white);
  transition: 0.3s;
  width: 200px;
}
.text-light {
  text-decoration: none;
}
.DeleteBtn {
  padding: 15px;
  border-radius: 8px;
  background-color: #dc3545;
  color: var(--white);
  transition: 0.3s;
}
.UpdateBtn {
  padding: 15px;
  border-radius: 8px;
  background-color: #0d6efd;
  color: var(--white);
  transition: 0.3s;
}

.adminForm {
  width: 600px;
  margin: 60px auto;
  padding: 20px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  .formRow {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--text-main);
    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
  }
}
.adminSubmit {
  padding: 15px;
  border-radius: 8px;
  background-color: var(--success-color);
  color: var(--white);
  transition: 0.3s;
  width: 200px;
  cursor: pointer;
}
